/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
} */
body{
  height: 205vh;
}
.App-link {
  color: #61dafb;
}
p{
  font-family: Oswald, sans-serif; 
  margin-top: -10px; 
  margin-left: 22px;
  opacity: 0.8; 
  font-size: 18px; 
  color: gray; 
}
.button{
  font-size: 14px;
  margin:5px;
}
.dropdown{
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
tbody tr:nth-child(odd) {
  background-color: #a5a4a4;
}
td img{
  border-radius: 50%;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  bottom: 0;
  width: 100%;
}

.navbar Button {
  margin : 0 auto;
  color: #52B2BF;
  text-align: center;
  padding: 7px 30px;
  text-decoration: none;
  font-size: 17px;
}
.navbar Button:hover{
  background-color: #52B2BF;
}







